[FASHION]
NUM_EPOCHS = 10
NUM_CLASSES = 19
BATCH_SIZE = 64
SNAPSHOT_STEPS = 500
VALIDATION_STEPS = 100
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/jeancherubini/Documents/data/clothing-small/snapshots/
DATA_DIR = /home/jeancherubini/Documents/data/clothing-small
CHANNELS = 3
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 112
IMAGE_HEIGHT = 112
USE_L2 = True
WEIGHT_DECAY = 1e-4
SHUFFLE_SIZE = 10000
#for tf_records to use multithreads
USE_MULTITHREADS = True
NUM_THREADS = 4
#CKPFILE is used for fine tunning
#CKPFILE = /home/jeancherubini/Documents/data/clothing-small/cnn-model/saved_model.pb

[ADAM]
NUM_EPOCHS = 10
NUM_CLASSES = 19
BATCH_SIZE = 64
SNAPSHOT_STEPS = 500
VALIDATION_STEPS = 100
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/jeancherubini/Documents/data/clothing-small/snapshots/ADAM/
DATA_DIR = /home/jeancherubini/Documents/data/clothing-small
CHANNELS = 3
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 112
IMAGE_HEIGHT = 112
USE_L2 = True
WEIGHT_DECAY = 1e-4
SHUFFLE_SIZE = 10000
#for tf_records to use multithreads
USE_MULTITHREADS = True
NUM_THREADS = 4
#CKPFILE is used for fine tunning
#CKPFILE = /home/jeancherubini/Documents/convnet2/pre_trained/imagenet_045.h5

[ADAM_PRETRAINED]
NUM_EPOCHS = 10
NUM_CLASSES = 19
BATCH_SIZE = 64
SNAPSHOT_STEPS = 500
VALIDATION_STEPS = 100
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/jeancherubini/Documents/data/clothing-small/snapshots/ADAM_PRETRAINED/
DATA_DIR = /home/jeancherubini/Documents/data/clothing-small
CHANNELS = 3
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 112
IMAGE_HEIGHT = 112
USE_L2 = True
WEIGHT_DECAY = 1e-4
SHUFFLE_SIZE = 10000
#for tf_records to use multithreads
USE_MULTITHREADS = True
NUM_THREADS = 4
#CKPFILE is used for fine tunning
CKPFILE = /home/jeancherubini/Documents/convnet2/pre_trained/imagenet_045.h5

[SGD]
NUM_EPOCHS = 10
NUM_CLASSES = 19
BATCH_SIZE = 64
SNAPSHOT_STEPS = 500
VALIDATION_STEPS = 100
LEARNING_RATE = 0.1
SNAPSHOT_DIR = /home/jeancherubini/Documents/data/clothing-small/snapshots/SGD/
DATA_DIR = /home/jeancherubini/Documents/data/clothing-small
CHANNELS = 3
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 112
IMAGE_HEIGHT = 112
USE_L2 = True
DECAY_STEPS = 5000
WEIGHT_DECAY = 1e-4
SHUFFLE_SIZE = 10000
#for tf_records to use multithreads
USE_MULTITHREADS = True
NUM_THREADS = 4
#CKPFILE is used for fine tunning
#CKPFILE = /home/jeancherubini/Documents/convnet2/pre_trained/imagenet_045.h5

[SGD_PRETRAINED]
NUM_EPOCHS = 10
NUM_CLASSES = 19
BATCH_SIZE = 64
SNAPSHOT_STEPS = 500
VALIDATION_STEPS = 100
LEARNING_RATE = 0.1
SNAPSHOT_DIR = /home/jeancherubini/Documents/data/clothing-small/snapshots/SGD_PRETRAINED/
DATA_DIR = /home/jeancherubini/Documents/data/clothing-small
CHANNELS = 3
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 112
IMAGE_HEIGHT = 112
USE_L2 = True
DECAY_STEPS = 5000
WEIGHT_DECAY = 1e-4
SHUFFLE_SIZE = 10000
#for tf_records to use multithreads
USE_MULTITHREADS = True
NUM_THREADS = 4
#CKPFILE is used for fine tunning
CKPFILE = /home/jeancherubini/Documents/convnet2/pre_trained/imagenet_045.h5


